#body{
    background: #111111;
}
.bg-cards{
    background: #68ddbd;
    background-color: #68ddbd;
}
.sombras {
    -webkit-box-shadow: 7px 7px 20px 0px #68DDBD; 
box-shadow: 7px 7px 10px 0px #68DDBD;
    }